

        #population_line_chart {
            width: 80%;
            height: 600px;
        }

        #population_bar_chart {
            width: 80%;
            height: 600px;
        }

