<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome Gourmet Recipe Website</title>
    <script src="../../js/sliderengine/jquery.js"></script>
    <script src="../../js/sliderengine/amazingslider.js"></script>
    <link rel="stylesheet" type="text/css" href="../../js/sliderengine/amazingslider-1.css">
    <link rel="stylesheet" type="text/css" href="../../css/home.css">
    <script src="../../js/sliderengine/initslider-1.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.useso.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
	<link href='http://fonts.useso.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../../css/template.css" media="screen" />
	<link rel="stylesheet" href="../../css/options.css" /> 
</head>
<body>
<!--<h1>Home</h1>

{{currentUser}}-->

	<div class="clear"></div>
	<div id="carte" style="margin-top:100px;">
		<div id="carte-top" class="wrap"></div>
		<div id="content-block" class="wrap">
					
			<div class="separator top-separator content left"></div>
			<div class="separator top-separator content right"></div>

			<div id="main" class="content">
				
				<article class="article">

						
					<h1 class="article-title styled-header">Welcome to our website</h1>

					<div class="article-body">
						
						<img class="left shadow" src="../../images/sushi.jpg" alt="recipe Photo" width="157" height="117" />
						<p>This website is bulid to the people who love cooking and would like to search wonderful recipes by name
                        and ingredients. What's more, we also provide the health label for every menu, every ingredients. We value have a 
                        delicious as well as healthy diet.</p>
						
						<h2>About me</h2>
						<p>This is a course project for CS5610. I really need to thanks the help provided by <a href="https://www.youtube.com/user/jannunzi">Prof.Jose Annunziato</a>In this Gourmet Recipe Website,
                        I used the MEAN stack which is really new for me. </p>

						
						<p><a class="make-me-btn" href="#search">Why not search gourmet recipe yourself!</a></p>
					</div>

				</article>
				
			</div><!-- end main -->
	   
       <div class="sidebar content">
				
				
				<div class="module" style="margin-top:60px;">
					
					<h3><span class="ribbon">Fluffy Pancakes</span></h3>
					<table>
						<tbody>
							<tr>
								<td>Direction:</td>

                                <td><strong>Combine flour, sugar, baking powder, baking soda, and salt in a large mixing bowl. Whisk egg and butter into "soured" milk. Pour the flour mixture into the wet ingredients and whisk until lumps are gone.</strong></td>
                                <td><strong>Heat a large skillet over medium heat, and coat with cooking spray. Pour 1/4 cupfuls of batter onto the skillet, and cook until bubbles appear on the surface. Flip with a spatula, and cook until browned on the other side.</strong></td>
							</tr>
						</tbody>

					</table>
				</div>
			</div><!-- end sidebar -->
								
			<div class="clear left content">
				<div class="separator"></div>
			</div>
			
			<div class="right content">
				<div class="separator"></div>
			</div>			
		</div><!-- end #content-block -->

		
		<div id="carte-bottom" class="clear wrap"></div>
	</div><!-- end #carte -->
	
		<footer id="footer" class="dark-zone">
				
			<div id="fmodules" class="wrap">

				<div class="module fmodule col-module col-module-first">
					<div>
						<h3>I and My website</h3>
						<p>I'm a girl who likes cooking and eating a variety kinds of food. The food
                        culture impact me a lot. My favorite food is chinese food which are spicy.</p>
					</div>
				</div>
				
				<div class="module fmodule col-module">

					<div>
						<h3>Star Member</h3>
						<nav class="clearfix">

							<ul class="menu">
								<li>emma</li>
								<li>Dan</li>
								<li>theo</li>
								<li>alice</li>
							</ul>
						</nav>

					</div>
				</div>
				
				<div class="module fmodule col-module">
					<div>
						<h3>Star Recipe</h3>
						<nav class="clearfix">

							<ul class="menu">
								<li>Poached Egg On Potato Hash</li>
								<li>Shortbread Candy Bars!</li>
								<li>Candy Cane Dessert Squares</li>
								<li>Stewed Beef Neck Tacos</li>
							</ul>
						</nav>

					</div>
				</div>
				
				<div class="module fmodule col-module col-module-last">
					<div>
						<h3>Contact Information</h3>
						<p>My email address is wang.xi4@huksy.neu.edu</p>
					</div>

				</div>
				
				<div class="clear"></div>
			</div><!-- end fmodules -->
		</footer><!-- end footer -->

</body>
</html>