body{background:url(../images/body_bg.jpg);}


/*body
{
	font: 13px/1.6em 'Droid Serif', Georgia, serif;
	padding: 0 0 40px;
	
	color: #241506;
	background: #351615 url(../../images/cloth-bewitched.jpg) 50% 208px;
}*/